# 0. Mount Google Drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1. Import the helper functions

* Specify the path to the file <code>sqlite_db_pythonsqlite.db</code> in your Google Drive.

* Call the following helper functions from file <code>LocalSQLConnection.py</code> into this notebook:
  * <code>create_connection()</code>
  * <code>select_all_tasks()</code>

In [3]:
file_path_database = '/content/drive/MyDrive/Colab Notebooks/SQLFiles Tier 1/sqlite_db_pythonsqlite.db'

In [33]:
import sqlite3
from sqlite3 import Error
# -----------------------------------------------------------------------------
def create_connection(db_file):
  """
  Create a database connection to the SQLite database
  specified by the db_file.

  :param db_file: database file
  :return: Connection object or None
  """
  conn = None
  try:
      conn = sqlite3.connect(db_file)
      print(sqlite3.version)
  except Error as e:
      print(e)
  return conn

def select_all_tasks(conn):
  """
  Query all rows in the tasks table.

  :param conn: the Connection object
  :return: list of tuples
    A list containing tuples representing each row in the table.
    Each tuple contains the data from a single row.
  """
  cur = conn.cursor()
  query1 = """
      SELECT *
      FROM FACILITIES
      """
  cur.execute(query1)
  rows = cur.fetchall()
  for row in rows:
      print(row)
# -----------------------------------------------------------------------------
def main():
  database = file_path_database
  conn = create_connection(database)
  with conn:
      print('2. Query all tasks')
      select_all_tasks(conn)

if __name__ == '__main__':
  main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

# 2. Connect to the database file <code>sqlite_db_pythonsqlite.db</code> .

In [5]:
import pandas as pd

conn = sqlite3.connect(file_path_database)
cur = conn.cursor()

# 3. Tasks

## 3.1. View Tables

In [6]:
cur.execute(
    "SELECT name FROM sqlite_master WHERE type='table';"
)

# Fetch all the table names
table_names = cur.fetchall()

# Print the table names
for table in table_names:
    print(table[0])

Bookings
Facilities
Members

### 3.1.1. Table $\texttt{Bookings}$

In [7]:
table_bookings='''
SELECT * FROM Bookings
'''

pd.read_sql(
      table_bookings
    , conn
)

      bookid  facid  memid            starttime  slots
0          0      3      1  2012-07-03 11:00:00      2
1          1      4      1  2012-07-03 08:00:00      2
2          2      6      0  2012-07-03 18:00:00      2
3          3      7      1  2012-07-03 19:00:00      2
4          4      8      1  2012-07-03 10:00:00      1
...      ...    ...    ...                  ...    ...
4038    4038      8     29  2012-09-30 16:30:00      2
4039    4039      8     29  2012-09-30 18:00:00      1
4040    4040      8     21  2012-09-30 18:30:00      1
4041    4041      8     16  2012-09-30 19:00:00      1
4042    4042      8     29  2012-09-30 19:30:00      1

[4043 rows x 5 columns]

### 3.1.2. Table $\texttt{Facilities}$

In [8]:
table_facilities='''
SELECT * FROM Facilities
'''

pd.read_sql(
      table_facilities
    , conn
)

,facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,0,Tennis Court 1,5.0,25.0,10000,200
1,1,Tennis Court 2,5.0,25.0,8000,200
2,2,Badminton Court,0.0,15.5,4000,50
3,3,Table Tennis,0.0,5.0,320,10
4,4,Massage Room 1,9.9,80.0,4000,3000
5,5,Massage Room 2,9.9,80.0,4000,3000
6,6,Squash Court,3.5,17.5,5000,80
7,7,Snooker Table,0.0,5.0,450,15
8,8,Pool Table,0.0,5.0,400,15

### 3.1.3. Table $\texttt{Members}$

In [9]:
table_members='''
SELECT * FROM Members
LIMIT 10
'''

pd.read_sql(
      table_members
    , conn
)

,memid,surname,firstname,address,zipcode,telephone,recommendedby,joindate
0,0,GUEST,GUEST,GUEST,0,(000) 000-0000,,2012-07-01 00:00:00
1,1,Smith,Darren,"8 Bloomsbury Close, Boston",4321,555-555-5555,,2012-07-02 12:02:05
2,2,Smith,Tracy,"8 Bloomsbury Close, New York",4321,555-555-5555,,2012-07-02 12:08:23
3,3,Rownam,Tim,"23 Highway Way, Boston",23423,(844) 693-0723,,2012-07-03 09:32:15
4,4,Joplette,Janice,"20 Crossing Road, New York",234,(833) 942-4710,1,2012-07-03 10:25:05
5,5,Butters,Gerald,"1065 Huntingdon Avenue, Boston",56754,(844) 078-4130,1,2012-07-09 10:44:09
6,6,Tracy,Burton,"3 Tunisia Drive, Boston",45678,(822) 354-9973,,2012-07-15 08:52:55
7,7,Dare,Nancy,"6 Hunting Lodge Way, Boston",10383,(833) 776-4001,4,2012-07-25 08:59:12
8,8,Boothe,Tim,"3 Bloomsbury Close, Reading, 00234",234,(811) 433-2547,3,2012-07-25 16:02:35
9,9,Stibbons,Ponder,"5 Dragons Way, Winchester",87630,(833) 160-3900,6,2012-07-25 17:09:05

## 3.2. Produce a list of facilities with a total revenue less than $\$100$. The output of facility $\texttt{name}$ and $\texttt{total revenue}$, sorted by revenue. Remember that there's a different cost for guests and members!

In [20]:
list_tot_rev='''
SELECT f.name AS facility_name,
       SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots ELSE f.membercost * b.slots END) AS total_revenue
FROM Facilities AS f
INNER JOIN Bookings AS b
ON f.facid = b.facid
GROUP BY f.facid, f.name
HAVING total_revenue > 100
ORDER BY total_revenue DESC;
'''

pd.read_sql(
      list_tot_rev
    , conn
)

     facility_name  total_revenue
0   Massage Room 1        50351.6
1   Massage Room 2        14454.6
2   Tennis Court 2        14310.0
3   Tennis Court 1        13860.0
4     Squash Court        13468.0
5  Badminton Court         1906.5
6       Pool Table          270.0
7    Snooker Table          240.0
8     Table Tennis          180.0

## 3.3. Produce a report of members and who recommended them (<code>recommendedby</code>) in alphabetic, <code>surname</code>, <code>firstname</code> order.

In [19]:
list_refs='''
SELECT m.memid, m.surname as mem_surname, m.firstname as mem_firstname, m.recommendedby, r.surname as ref_surname, r.firstname as ref_firstname
FROM Members AS m
LEFT JOIN Members AS r
ON r.memid = m.recommendedby
ORDER BY m.surname;
'''

pd.read_sql(
      list_refs
    , conn
)

,memid,mem_surname,mem_firstname,recommendedby,ref_surname,ref_firstname
0,15,Bader,Florence,9,Stibbons,Ponder
1,12,Baker,Anne,9,Stibbons,Ponder
2,16,Baker,Timothy,13,Farrell,Jemima
3,8,Boothe,Tim,3,Rownam,Tim
4,5,Butters,Gerald,1,Smith,Darren
5,22,Coplin,Joan,16,Baker,Timothy
6,36,Crumpet,Erica,2,Smith,Tracy
7,7,Dare,Nancy,4,Joplette,Janice
8,13,Farrell,Jemima,,None,None
9,28,Farrell,David,,None,None
10,0,GUEST,GUEST,,None,None
11,20,Genting,Matthew,5,Butters,Gerald
12,35,Hunt,John,30,Purview,Millicent
13,11,Jones,David,4,Joplette,Janice
14,26,Jones,Douglas,11,Jones,David
15,4,Joplette,Janice,1,Smith,Darren
16,21,Mackenzie,Anna,1,Smith,Darren
17,10,Owen,Charles,1,Smith,Darren
18,17,Pinker,David,13,Farrell,Jemima
19,30,Purview,Millicent,2,Smith,Tracy
20,3,Rownam,Tim,,None,None
21,27,Rumney,Henrietta,20,Genting,Matthew
22,24,Sarwin,Ramnaresh,15,Bader,Florence
23,1,Smith,Darren,,None,None
24,2,Smith,Tracy,,None,None
25,14,Smith,Jack,1,Smith,Darren
26,37,Smith,Darren,,None,None
27,9,Stibbons,Ponder,6,Tracy,Burton
28,6,Tracy,Burton,,None,None
29,33,Tupperware,Hyacinth,,None,None
30,29,Worthington-Smyth,Henry,2,Smith,Tracy

## 3.4. Find the facilities with their usage by member, but not guests.

In [29]:
list_usage = '''
SELECT facility_name, memid, member_name, ROUND(sum_slots, 1) AS monthly_usage from (
    SELECT f.name AS facility_name,
    m.memid,
    m.surname || ', ' || m.firstname AS member_name,
    SUM(slots) AS sum_slots
    FROM Members AS m
    INNER JOIN Bookings as b
    USING (memid)
    INNER JOIN Facilities as f
    USING (facid)
    WHERE b.memid <> 0
    GROUP BY f.facid, member_name
    ) as sub_q1
ORDER BY memid, monthly_usage desc
'''

pd.read_sql(
      list_usage
    , conn
)

       facility_name  memid     member_name  monthly_usage
0    Badminton Court      1   Smith, Darren          432.0
1     Massage Room 1      1   Smith, Darren           58.0
2     Tennis Court 2      1   Smith, Darren           57.0
3       Table Tennis      1   Smith, Darren           56.0
4       Squash Court      1   Smith, Darren           30.0
..               ...    ...             ...            ...
197     Squash Court     35      Hunt, John            2.0
198  Badminton Court     36  Crumpet, Erica            6.0
199     Table Tennis     36  Crumpet, Erica            4.0
200   Massage Room 1     36  Crumpet, Erica            4.0
201   Tennis Court 1     36  Crumpet, Erica            3.0

[202 rows x 4 columns]

## 3.5. Find the facilities usage by month, but not guests.

In [13]:
find_facilities2='''
SELECT strftime('%m', starttime) AS month_2012,
       f.name AS facility_name,
       COUNT(*) AS monthly_usage
FROM Bookings AS b
    INNER JOIN Facilities AS f
    USING (facid)
    WHERE b.memid <> 0
    GROUP BY month_2012, name
    ORDER BY month_2012, monthly_usage desc
'''

pd.read_sql(
      find_facilities2
    , conn
)

   month_2012    facility_name  monthly_usage
0          07       Pool Table            103
1          07   Massage Room 1             77
2          07    Snooker Table             68
3          07   Tennis Court 1             65
4          07  Badminton Court             51
5          07     Table Tennis             48
6          07   Tennis Court 2             41
7          07     Squash Court             23
8          07   Massage Room 2              4
9          08       Pool Table            272
10         08    Snooker Table            154
11         08   Massage Room 1            153
12         08     Table Tennis            143
13         08  Badminton Court            132
14         08   Tennis Court 1            111
15         08   Tennis Court 2            109
16         08     Squash Court             85
17         08   Massage Room 2              9
18         09       Pool Table            408
19         09    Snooker Table            199
20         09     Table Tennis            194
21         09   Massage Room 1            191
22         09  Badminton Court            161
23         09   Tennis Court 1            132
24         09   Tennis Court 2            126
25         09     Squash Court             87
26         09   Massage Room 2             14